body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.login-title{
    background-color: green;
    grid-area: login-title;
}

.login-form{
    background-color: brown;
    grid-area: login-form;
}

.login-footer{
    background-color: blue;
    grid-area: login-footer;
}

.container-login{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas: "login-title" "login-form" "login-footer";
}

@media screen and (min-width: 900px) {
    .container-login{
        height: 75vh;
        padding:100px 50px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 200px;
        grid-template-areas: "login-title login-form" "none login-footer";
    }
}